/* 기본 설정 */
html {
  margin-left: 10px;
}

body *{
  font-family: "Pretendard Variable", Pretendard,
   -apple-system, BlinkMacSystemFont, system-ui, Roboto,
   "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
   "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
   "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.875rem; /* 14px */
  color: #181818;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* 컨테이너 grid 설정 */
.new-container {
  gap: 12px;
  width: 23.75rem;
  height: 12.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "heading heading heading heading heading more"
  "main main main main main main"
}

/* header 스타일 */
.header {
  grid-area: heading;
  color: #ED552F;
}

/* border 스타일 */
.header::after {
  content: "";
  display: block;
  width: 80%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, #A9A9A9 -1.32%, #FFFFFF 100%)1;
}

/* 더보기 스타일 */
.more {
  grid-area: more;
  justify-self: end;
  position: relative;
}

/* 메인 콘텐츠 컨테이너 grid 설정 */
.main-group {
  grid-area: main;
  gap: 0.25rem;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1.3125rem 1.3125rem auto;
  grid-template-areas: 
  "image image title title title title"
  "image image date date date date"
  "image image content content content content";
}

/* 이미지 스타일 */
.main__img {
  grid-area: image;
  justify-self: center;
}

.main__img img {
  width: 7rem;
  height: 4.125rem;
  box-shadow: 0 15px 15px 5px #AAAAAA;
  margin-left: -0.75rem;
}

.main__img figcaption {
  text-align: center;
  margin-top: 0.875rem;
  margin-left: -0.75rem;
}

/* 제목 스타일 */
.main__title {
  grid-area: title;
  font-size: inherit;
  font-weight: 700;
}

/* 날짜 스타일 */
.main__date {
  grid-area: date;
}

/* 내용 스타일 */
.main__content {
  grid-area: content;
  margin-top: 0.5rem;
  line-height: 150%;
  text-align: justify;
}

/* 더하기 기호 만들기 */
.more::before, .more::after {
  position: absolute;
  content: ' ';
  left: -0.75rem; 
  height: 1rem;
  width: 0.25rem;
  background-color: #447231;
}

.more::after {
  transform: rotate(90deg);
  top: 0;
}