/* 숨김 콘텐츠 */
.a11y {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 기본 스타일 설정 */
body * {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 0.875rem;
  margin: 0px;
  padding: 0px;
}

/* 컨텐츠 컨테이너 스타일 */
.content-container {
  width: 15.25rem;
  height: 9.75rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 4px 4px #a3a3a3;
}

fieldset {
  border: 0;
}

/* 로그인 제목 스타일 */
.header {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #FFFF00;
  margin-bottom: 8px;
}

/* 로그인 폼 스타일 */
.login-form-container {
  width: 13.75rem;
  height: 6.625rem;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 8px 8px 0px;
  box-sizing: border-box;
  position: relative;
}

/* 로그인 부분 영역 지정 및 밑줄 생성 */
.login-group {
  width: 12.75rem;
  height: 3.8125rem;
  border-bottom: 1px solid #CCCCCC;
}

/* 로그인 부분 스타일 */
.login-id-password-wrapping {
  width: 9.125rem;
  position: relative;
}

.login__id, .login__password {
  width: inherit;
  height: 24px;
  margin-bottom: 4px;
}

.login-id-password-wrapping label{
  line-height: 24px;
  position: absolute;
  left: 0;
}

.login-id-password-wrapping input {
  width: 5.625rem;
  height: 1.5rem;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding-left: 7px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

/* 로그인 버튼 스타일 */
.login__btn {
  color: #FFFFFF;
  width: 50px;
  height: 53px;
  border-style: none;
  border-radius: 5px;
  background-color: #ED552F;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* 멤버 서비스 스타일 */
.member-service {
  width: 204px;
  height: 36px;
}

.member__join {
  float: left;
  line-height: 36px;
}

.member__search {
  float: right;
  line-height: 36px;
}

.member-service span {
  font-size: 0.8125rem;
  margin-left: 4px ;
}

/* 꺽쇠 디자인 */
.member__join::before,
.member__search::before {
  content: "";
  border-top: 3px solid #ED552F;
  border-right: 3px solid #ED552F;
  width: 5px;
  height: 5px;
  display: inline-block;
  transform: rotate(45deg);
}